@import '../variables.module.scss';

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .navLinks {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      font-family: $font-family-head;
      font-size: 1rem;
      font-weight: 400;
      color: white;
      text-decoration: none;
    }

    .activeLink {
      color: $color-light-green;
    }
  }

  .navImg {
    margin-top: auto;
    // a.navImgLink {}
  }
}