@font-face {
  font-family: "Early-GameBoy";
  src: url("../fonts/Early-GameBoy.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VCR-OSD-MONO";
  src: url("../fonts/VCR-OSD-MONO.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMMono";
  src: url("../fonts/DMMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMMonoItalic";
  src: url("../fonts/DMMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}