// Colors
$color-background-primary: hsl(20, 11%, 5%); // #0F0D0C
$color-background-secondary: hsl(0, 0%, 8%); // #141414
$color-background-blue: hsl(220, 21%, 8%); // #11141A
$color-dark-primary: #141414;
$color-dark-secondary: #191919;
$color-dark-gray: #242424;
$color-light-primary: #d8d8d8;
$color-light-secondary: #e4e3e3;
$color-light-green: #1ae803;
$color-dark-green: #11a101;

// Fonts
$font-weight-body: 14px;

$font-family-head: "IBMPlexMono-Regular";
$font-family-body: "IBMPlexMono-Regular";
// $font-family-head: "PressStart2P-Regular";
// $font-family-head: "ArchivoBlack-Regular";
// $font-family-head: "Early-GameBoy";
// $font-family-body: "DMMono";

// Layout
$inner-width-mobile: 24rem;
$inner-width-tablet: 40rem;
$inner-width-desktop: 48rem;
$inner-width-desktop-large: 64rem;

$min-height-header: 8rem;
$min-height-footer: 14rem;

$heading-margin-bottom: 6rem;

// Media Query Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-large: 1200px;