@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $color-primary;
  transition: all 0.1s;

  .layout-inner {
    @include layout-inner;
    margin-bottom: auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;

    @media (max-width: $breakpoint-tablet) {
      padding-top: 1rem;
      flex-direction: column;
    }
    
    aside.nav {}

    main {
      // padding: 0 1rem;
      // margin: 0 1rem;
      margin-left: 2rem;
      flex: 1 0;
      text-align: end; // TODO: Remove and use grid

      @media (max-width: $breakpoint-tablet) {
        margin: 0 0 0 1rem;
      }

      @media (min-width: $breakpoint-desktop) {
        margin: 0 0 0 2rem;
      }
    }
  }
}