@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  transition: all 0.1s;

  .layout-inner {
    // min-height: 100vh;
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: row;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
    
    aside.nav {}

    main {
      padding: 0 1rem;
      margin: 0 1rem;
      flex: 1 0;
      text-align: end; // TODO: Remove and use grid

      @media (max-width: $breakpoint-tablet) {
        margin: 2rem 0;
      }
    }
  }
}