@import '../styles/mixins.module.scss';
@import '../styles/variables.module.scss';

header.header {
  background-color: $color-background-dark;

  .headerInner {
    @include layout-inner;
    min-height: $min-height-header;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    span.headerTitle {
      font-family: $font-family-head;
      font-size: 1.25rem;
      margin: 0;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}