@import '../mixins.module.scss';
@import '../variables.module.scss';

header.header {
  padding: 0 1rem;
  flex: 0 0 6rem;
  position: sticky;
  top: 0;
  background-color: $color-background-primary;

  @include mobile {
    padding: 3rem 1rem 0;
  }

  @include tablet {
    margin: 0;
  }

  .headerInner {
    min-height: $min-height-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    @include tablet {
      flex-direction: row;
      align-items: center;
    }

    span.headerTitle {
      font-family: $font-family-head;
      font-size: 1.25rem;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}