@import '../mixins.module.scss';
@import '../variables.module.scss';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $color-background-primary;
  transition: all 0.1s;

  .layoutInner {
    flex: 1;
    margin-bottom: auto;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    @include layout-inner;

    main {
      padding: 0 1rem;
      flex: 1 0;
      display: flex;
      flex-direction: column;

      h1 {
        margin-left: auto;
      }
    }
  }
}