@import '../variables.module.scss';

.nav {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;

  @media (max-width: $breakpoint-tablet) {
    // margin: 0 0 2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      font-family: $font-family-head;
      font-size: 1rem;
      font-weight: 400;
      color: white;
      text-decoration: none;

      &:not(:last-of-type) {
        margin-right: 2rem;
      }

      @media (max-width: $breakpoint-tablet) {
        &:not(:last-of-type) {
          // margin-bottom: 1rem;
        }
      }
    }
  }

  .navImg {
    margin-top: auto;
    a.navImgLink {
  
      // @media (max-width: $breakpoint-tablet) {
      //   margin-bottom: 0;
      // }
    }
  }
}