header.header {
  margin: 0 0 1.45rem 0;
  background-color: black;

  .header-inner {
    max-width: 960px;
    padding: 1.45rem 2rem;

    h1 {
      font-size: 1.25rem;
      margin: 0;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}