@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

header.header {
  background-color: $color-primary;

  .header-inner {
    @include layout-inner;
    min-height: $min-height-header;
    padding: 2rem;

    span.header-title {
      font-family: $font-family-head;
      font-size: 1.25rem;
      margin: 0;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}