@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.footer {
  margin: auto 0 0;
  padding: 1.45rem 2rem;
  max-width: 960px;

  span {
    font-family: "Early-GameBoy";
    font-size: 0.75rem;
    color: white;
  }
}