@import "./variables.module.scss";

.contactGrid {
  width: 60%;
  // margin-left: auto;
  display: grid;
  grid-template-columns: 0.5fr 0.25fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  // grid-template-areas: "app handle";

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  .contactApp {
    grid-column: 1;
  }

  .contactSep {
    grid-column: 2;
    content: "=>";
  }

  .contactHandle {
    grid-column: 3;
  }
}