@import "./variables.module.scss";


@mixin layout-inner {
  max-width: $max-width-inner;
  margin: 0;
  
  padding-left: 2rem;
  padding-right: 2rem;

  // @media (min-width: $breakpoint-tablet) {
  //   padding-left: 1rem;
  //   padding-right: 1rem;
  // }

  @media (min-width: $breakpoint-desktop) {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}