// Colors
$color-background-primary: hsl(220, 43%, 14%); // #141E32
$color-background-dark: hsl(220, 21%, 8%); // #11141A
$color-dark-primary: #141414;
$color-dark-secondary: #191919;
$color-dark-gray: #242424;

// Font Families
$font-family-head: "Early-GameBoy";
$font-family-body: "DMMono";

// Layout
$max-width-inner: 860px;
$min-height-header: 100px;
$min-height-footer: 100px;

// Media Query Breakpoints
$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-large: 1200px;