// Colors
$color-primary: #191919;
$color-secondary: #191919;
$color-dark-gray: #191919;

// Font Families
$font-family-head: "Early-GameBoy";
$font-family-body: "DMMono";

// Layout
$max-width-inner: 860px;
$min-height-header: 100px;
$min-height-footer: 100px;

// Media Query Breakpoints
$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-large: 1200px;